<div class="row">
  <div class="col-md-6 col-md-offset-3" style="float:left">

    <%= form_tag do %>
      <fieldset>
        <legend>Please Sign In</legend>

        <div class="field">
          <%= label_tag :email, 'Email:' %>
          <%= text_field_tag :email, params[:email] %>
        </div>

        <div class="field">
          <%= label_tag :password, 'Password:' %>
        <%= password_field_tag :password, params[:password] %>
        </div>

        <div style="float:left">
          <%= label_tag :role, 'Role:' %>
          <%= radio_button_tag :role, 'user' %>User
          <%= radio_button_tag :role, 'driver' %>Driver
        </div>

        <div class="actions">
          <%= submit_tag "Login" %>
        </div>
      </fieldset>
    <% end %>

  </div>
</div>
