<h1>Details User</h1>
<div class="table-responsive">
  <table class="table table-hover">
      <tr>
        <th>Name</th>
        <td><%= @user.name %></td>
      </tr>
      <tr>
        <th>Email</th>
        <td><%= @user.email %></td>
      </tr>
      <tr>
        <th>Phone</th>
        <td><%= @user.phone %></td>
      </tr>
      <tr>
        <th>Gopay</th>
        <td><%= number_to_currency(@user.gopay, unit: "Rp ", delimiter: ".", separator: ",") %></td>
      </tr>
      <tr>
        <th></th>
        <td><%= link_to 'Edit', edit_user_path(@user) %></td>
      </tr>
  </table>
</div>
