<p id="notice"><%= notice %></p>

<h1>Order History</h1>

<table class='table-striped'>
  <thead align="center">
    <tr>
      <th>ID</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Service Type</th>
      <th>Payment Type</th>
      <th>Total Price</th>
    </tr>
  </thead>
  <% @orders.each do |order| %>
    <tr>
      <td><%= link_to "#{order.id}", order %></td>
      <td><%= order.origin %></td>
      <td><%= order.destination %></td>
      <td><%= order.service_type %></td>
      <td><%= order.payment_type %></td>
      <td><%= number_to_currency(order.price, unit: "Rp ", delimiter: ".", separator: ",") %></td>
    </tr>
  <% end %>
</table>
