<%= form_with(model: driver, local: true) do |f| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <div class="field">
      <%= f.label :name, 'Name:' %>
      <%= f.text_field :name, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :email, 'Email:' %>
      <%= f.text_field :email, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :phone, 'Phone Number:' %>
      <%= f.text_field :phone, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :Location, 'Your Location:' %>
      <%= f.text_field :location, size: 40 %>
    </div>

    <div class="field">
    <%= f.label :service_type %>
    <%= f.select :service_type, Order.service_types.keys, prompt: 'Select a service type' %>
  </div>

    <div class="field">
      <%= f.label :password, 'Password:' %>
      <%= f.password_field :password, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm Password:' %>
      <%= f.password_field :password_confirmation, size: 40 %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
