<%= form_for @driver, :url => { :action => 'save_topup' } do |f| %>
  <% if @driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@driver.errors.count, "error") %> prohibited this user from being saved</h2>

      <ul>
      <% @driver.errors.full_messages.each do |message| %>
        <li class="text-danger"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<h1>TopUp Go Pay</h1>
<div>
  <strong>Name:</strong>
  <%= @driver.name %>
</div>
<div>
  <strong>Gopay Credit:</strong>
  <%= @driver.gopay %>
</div>
  <fieldset>
    <legend></legend>
    <div class="field">
      <%= text_field_tag :topup_gopay, params[:topup_gopay] %>
    </div>

    <div class="field">
      <%= f.hidden_field :gopay %>
    </div>

    <div class="actions">
      <%= f.submit "Top up" %>
    </div>
  </fieldset>
<% end %>

<%= link_to 'Back', users_path %>
