<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "gojek web app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!-- session !nil -->
            <!-- session is nil -->
            <li>
              <%= link_to '#' do %>
                <span class="glyphicon glyphicon-user"></span> Sign Up
              <% end %>
            </li>
            <li>
              <%= link_to '#' do %>
                <span class="glyphicon glyphicon-log-in"></span> Sign In
              <% end %>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <div class="containers">
      <%= yield %>
    </div>

    <footer class="footer">
      <p>Go Scholar &copy; 2017</p>
    </footer>
  </body>
</html>
