<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "gojek web app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to home_index_path do %>
                <span class="glyphicon glyphicon-home"></span> Home
              <% end %>
            </li>
            <% if session[:user_id] || session[:driver_id]%>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> Sign Out
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to login_path do %>
                  <span class="glyphicon glyphicon-log-in"></span> Sign In
                <% end %>
              </li>
              <li class="dropdown">
                <a href="javascript:void(0)" class="dropbtn">
                  <span class="glyphicon glyphicon-user"></span> Sign Up
                </a>
                <div class="dropdown-content">
                  <%= link_to 'User', new_user_path%>
                  <%= link_to 'Driver', new_driver_path%>
                </div>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="containers">
      <% if notice %>
        <p class="bg-success" style="padding:5px"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="bg-danger" style="padding:5px"><%= alert %></p>
      <% end %>
      <% if session[:user_id] %>
      <div class="row">
        <div class="col-sm-3" style="background-color:#eeeeee; padding: 2em;">
          <nav>
            <ul class="nav">
              <li class="submenu">
                <%= link_to current_user do %>
                  <span class="glyphicon glyphicon-user"></span> Profile
                <% end %>
              </li>
              <li>
                <%= link_to topup_user_path(current_user) do %>
                  <span class="glyphicon glyphicon-lock"></span> Topup Gopay
                <% end %>
              </li>
              <li>
                <%= link_to new_order_path do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Order Now
                <% end %>
              </li>
              <li>
                <%= link_to orders_path do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Order History
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-1" style="background-color:solid;"></div>
        <div class="col-sm-8" style="background-color:#eeeeee;"><%= yield %></div>
      </div>
      <% elsif session[:driver_id] %>
      <div class="row">
        <div class="col-sm-3" style="background-color:#eeeeee; padding: 2em;">
          <nav>
            <ul class="nav">
              <li class="submenu">
                <%= link_to current_driver do %>
                  <span class="glyphicon glyphicon-user"></span> Profile
                <% end %>
              </li>
              <li>
                <%= link_to topup_driver_path(current_driver) do %>
                  <span class="glyphicon glyphicon-lock"></span> Topup Gopay
                <% end %>
              </li>
              <li>
                <%= link_to location_driver_path(current_driver) do %>
                  <span class="glyphicon glyphicon-lock"></span> Set Location
                <% end %>
              </li>
              <li>
                <%= link_to orders_path do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Job History
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-1" style="background-color:solid;"></div>
        <div class="col-sm-8" style="background-color:#eeeeee;"><%= yield %></div>
      </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <footer class="footer">
      <!-- 2014 © Metronic by keenthemes. Purchase Metronic! -->
      <p>2017 © Go Scholar Tech Ruby On Rails</p>
    </footer>
  </body>
</html>
