<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
      </script>
    <![endif]-->
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "gojek web app", '#', id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to home_index_path do %>
                <span class="glyphicon glyphicon-home"></span> Home
              <% end %>
            </li>
            <% if session[:user_id] %>
              <li>
                <%= link_to logout_path, method: :delete do %>
                  <span class="glyphicon glyphicon-log-out"></span> Sign Out
                <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to new_user_path do %>
                  <span class="glyphicon glyphicon-user"></span> Sign Up
                <% end %>
              </li>
              <li>
                <%= link_to login_path do %>
                  <span class="glyphicon glyphicon-log-in"></span> Sign In
                <% end %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>

    <div class="containers">
      <% if session[:user_id] %>
      <div class="row">
        <div class="col-sm-3" style="background-color:#eeeeee; padding: 2em;">
          <nav>
            <ul class="nav">
              <li>
                <%= link_to '#' do %>
                  <span class="glyphicon glyphicon-user"></span> Profile
                <% end %>
              </li>
              <li>
                <%= link_to '#' do %>
                  <span class="glyphicon glyphicon-lock"></span> Topup Gopay
                <% end %>
              </li>
              <li>
                <%= link_to '#' do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Order Now
                <% end %>
              </li>
              <li>
                <%= link_to '#' do %>
                  <span class="glyphicon glyphicon-list-alt"></span> Order History
                <% end %>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-sm-1" style="background-color:solid;"></div>
        <div class="col-sm-8" style="background-color:#eeeeee;"><%= yield %></div>
      </div>
      <% else %>
        <%= yield %>
      <% end %>
    </div>

    <footer class="footer">
      <p>Go Scholar &copy; 2017</p>
    </footer>
  </body>
</html>
